@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
input:focus,
input:active {
  outline: none;
}

a {
  transition: all 0.8s ease;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/* --- Header styles start --- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.7;
}
/* --- Header styles end --- */


/* --- Intro styles start --- */
.intro {
  min-height: 100vh;
  background: url('../img/intro-bg.jpg') no-repeat center top / cover;
  padding-top: 263px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: #fff;
  line-height: 150%;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left 6px / 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__submit {
  padding: 15px 40px;
  background: #1b7dff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #1372ed;
}

/* --- Intro styles end --- */

/* --- Header styles start --- */
/* --- Header styles end --- */

/* --- Header styles start --- */
/* --- Header styles end --- */

/* --- Header styles start --- */
/* --- Header styles end --- */

/* --- Header styles start --- */
/* --- Header styles end --- */

