@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
input:focus,
input:active {
  outline: none;
}

a {
  text-decoration: none;
  transition: all 0.8s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* --- Header styles start --- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.7;
}
/* --- Header styles end --- */


/* --- Intro styles start --- */
.intro {
  min-height: 100vh;
  background: url('../img/intro-bg.jpg') no-repeat center top / cover;
  padding: 263px 0 220px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: #fff;
  line-height: 150%;
  margin-bottom: 59px;
}

.search-form {
  margin-bottom: 150px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left 6px / 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__submit {
  padding: 15px 40px;
  background: #1b7dff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0b59be;
}

/* --- Intro styles end --- */

/* --- Benefits styles start --- */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  background: #fff;
  position: relative;
  padding-bottom: 112px;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  padding: 93px 100px 88px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 32px 100px 0;
}

.benefits__card {
  grid-column: span 1;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card__thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #000;
  margin-bottom: 26px;
}

.benefits__card-desc {
  line-height: 150%;
  color: #000;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  background: url('../img/svg/arrow-right-icon.svg') no-repeat 90% center;
  line-height: 150%;
  color: #006dfe;
  text-transform: uppercase;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url('../img/svg/arrow-right-icon.svg') no-repeat right center;
}

/* --- Benefits styles end --- */

/* --- Places styles start --- */

.places {
  margin-bottom: 131px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__view-all {
    padding-right: 59px;
    background: url('../img/svg/arrow-right-icon.svg') no-repeat 90% center;
    line-height: 150%;
    color: #006dfe;
    text-transform: uppercase;
}

.places__view-all:hover, .places__view-all:focus {
  background: url('../img/svg/arrow-right-icon.svg') no-repeat right center;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.10);
}

.places__card_size_lg {
  grid-column: span 3;
  height: 354px;
}

.places__card_size_sm {
  grid-column: span 2;
  height: 283px;
}

.places__card-pic {
  width: 100%;
  object-fit: cover;
  transition: 0.5s all ease;
}

.places__card-pic_size_lg {
  height: 100%;
}

.places__card-pic_size_sm {
  height: 100%;
}

.places__card-title {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 29px;
  bottom: 27px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* --- Places styles end --- */


/* --- Header styles start --- */
/* --- Header styles end --- */

/* --- Header styles start --- */
/* --- Header styles end --- */

