@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
input:focus,
input:active {
  outline: none;
}

a {
  text-decoration: none;
  transition: all 0.8s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* --- Header styles start --- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.3s linear;
  z-index: 999;
}

.header_active {
  background: #0e1d28;
  opacity: 0.95;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 56px 0 20px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.7;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* --- Header styles end --- */


/* --- Intro styles start --- */
.intro {
  min-height: 100vh;
  background: url('../img/intro-bg.jpg') no-repeat center top / cover;
  padding: 263px 0 220px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: #fff;
  line-height: 150%;
  margin-bottom: 59px;
}

.search-form {
  margin-bottom: 150px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left 6px / 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  font-family: 'Lato' sans-serif;
}

.search-form__submit {
  height: 58px;
  padding: 15px 40px;
  background: #1b7dff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #0b59be;
}

/* --- Intro styles end --- */

/* --- Benefits styles start --- */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  background: #fff;
  position: relative;
  padding-bottom: 112px;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  padding: 93px 100px 88px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 55px;
       column-gap: 55px;
  padding: 32px 100px 0;
}

.benefits__card {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-thumb {
  display: block;
  height: 66px;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #000;
  margin-bottom: 26px;
}

.benefits__card-desc {
  line-height: 150%;
  color: #000;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  width: 160px;
  padding-right: 59px;
  background: url('../img/svg/arrow-right-icon.svg') no-repeat 90% center;
  line-height: 150%;
  color: #006dfe;
  text-transform: uppercase;
  margin-top: auto;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url('../img/svg/arrow-right-icon.svg') no-repeat right center;
}

/* --- Benefits styles end --- */

/* --- Places styles start --- */

.places {
  margin-bottom: 131px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__view-all {
    padding-right: 59px;
    background: url('../img/svg/arrow-right-icon.svg') no-repeat 90% center;
    line-height: 150%;
    color: #006dfe;
    text-transform: uppercase;
}

.places__view-all:hover, .places__view-all:focus {
  background: url('../img/svg/arrow-right-icon.svg') no-repeat right center;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.10);
}

.places__card_size_lg {
  grid-column: span 3;
  height: 354px;
}

.places__card_size_sm {
  grid-column: span 2;
  height: 283px;
}

.places__card-pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s all ease;
}

.places__card-pic_size_lg {
  height: 100%;
}

.places__card-pic_size_sm {
  height: 100%;
}

.places__card-title {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 29px;
  bottom: 27px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* --- Places styles end --- */


/* --- Tours styles start --- */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  margin-bottom: 75px;
  max-width: 357px;
}

.tour__desc {
  line-height: 150%;
  margin-bottom: 48px;
  max-width: 519px;
}

.tour__more {
  color: #006dfe;
  text-transform: uppercase;
  padding-right: 59px;
  background: url('../img/svg/arrow-right-icon.svg') no-repeat 90% 7px;
}

.tour__more:hover, .tour__more:focus {
  background: url('../img/svg/arrow-right-icon.svg') no-repeat right 7px;

}

/* --- Tours styles end --- */


/* --- Top places styles start --- */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  color: #fff;
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.top__card-likes, .top__card-comments {
  line-height: 150%;
  font-weight: 500;
}

.top__card-likes {
  padding-right: 20px;
  background: url('../img/svg/likes-icon.svg') no-repeat right 5px;
  margin-right: 14px;
}

.top__card-comments {
  padding-right: 23px;
  background: url('../img/svg/comments-icon.svg') no-repeat right 7px;
}

.top__card-desc {
  line-height: 150%;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  color: #fff;
  text-transform: uppercase;
  background: #006dfe;
  margin: auto 0 0 0;
  padding: 12px 20px;
  transition: all 0.8s ease;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
  background: #0b59be;
}

/* --- Top places styles end --- */


/* --- Videos styles start --- */
.videos {
  width: 100%;
  background: #0e1d28;
  opacity: 0.95;
}

.video {
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --- Videos styles end --- */


/* --- Footer styles start --- */
.footer {
  background: #0e1d28;
  padding: 119px 0;
  color: #fff;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 7px;
}

.footer__menu-link {
  line-height: 150%;
  color: #fff;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: 0.7;
}

/* --- Footer styles end --- */


/* --- Media styles start --- */
@media screen and (max-width: 960px) {
  .search-form__field {
    margin-bottom: 25px;
  }

  .intro {
    padding-bottom: 152px;
  }

  .benefits {
    margin-bottom: 60px;
  }

  .benefits__wrap {
    box-shadow: none;
    padding-bottom: 30px;
  }

  .benefits__cards {
    padding: 0 15px;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }

  .benefits__title {
    padding: 55px 20px;
  }

  .places__card {
    grid-column: span 6;
    height: 300px;
  }

  .tours__tour {
    gap: 0 35px;
  }

  .tour__info {
    padding-left: 0;
  }

  .tour__title {
    margin-bottom: 15px;
  }

  .tour__desc {
    margin-bottom: 15px;
  }

  .top__cards {
    gap: 45px 25px;
  }

  .top__card {
    grid-column: span 3;
  }

  .top__card-pic {
    margin-bottom: 25px;
  }

  .top__card-desc {
    margin-bottom: 20px;
  }

  .footer {
    padding: 55px 0;
  }
}

@media  screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 25px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.3s all linear;
  }

  .header__nav_active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 28px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 32px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    position: absolute;
    top: 50%;
    background: #fff;
    height: 2px;
    width: 100%;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .header__wrapper {
    padding-top: 28px;
  }

  .intro {
    padding-top: 120px;
    min-height: auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 44px;
  }

  .search-form__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    font-size: 16px;
    background: transparent url('../img/svg/circle-icon.svg') no-repeat left 2px / 20px;
    margin-bottom: 30px;
  }

  .search-form__field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-moz-placeholder {
    font-size: 16px;
  }

  .search-form__field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::placeholder {
    font-size: 16px;
  }

  .benefits {
    margin-bottom: 35px;
  }
  
  .benefits__wrap {
    padding-bottom: 0;
  }

  .benefits__card {
    grid-column: span 3;
    margin-bottom: 35px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-desc {
    margin-bottom: 15px;
  }

  .places {
    margin-bottom: 60px;
  }

  .places__caption {
    margin-bottom: 0;
  }
  
  .places__view-all {
    margin-bottom: 25px;
  }

  .tours {
    margin-bottom: 60px;
  }

  .tours__tour {
    margin-bottom: 30px;
  }

  .tour__pic, .tour__info {
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 12px;
  }

  .tour__pic_mob-first {
    grid-row-start: -1;
  }

  .top__card {
    grid-column: span 6;
  }

  .top__card-stats {
    max-width: 386px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__menu {
    margin-right: 30px;
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 500px) {
  .section-title::after {
    width: 78px;
  }

  .header__nav {
    padding: 75px 30px;
  }

  .search-form__submit {
    width: 100%;
  }

  .places__card {
    height: 230px;
  }

  .tours {
    margin-bottom: 40px;
  } 

  .top {
    margin-bottom: 40px;
  }

  .top__card-desc {
    margin-bottom: 15px;
  }

  .footer__logo-pic {
    width: 30%;
  }

  .footer__menu {
    width: 50%;
    margin-right: 0;
  }
}


/* --- Media styles end --- */

